.page-body-wrapper{
    width: 100%;
}

.main-panel{
    padding: 0;
}

/* ********************** ******* ********************* */
/* ********************** ******* ********************* */
/* ********************* Sign Page ******************** */
/* ********************** ******* ********************* */
/* ********************** ******* ********************* */
.sign-page {
    transform: translate(0px, calc(100% / 2));
    -webkit-transform: translate(0px, calc(100% / 2));
    -moz-transform: translate(0px, calc(100% / 2));
    -ms-transform: translate(0px, calc(100% / 2));
    -o-transform: translate(0px, calc(100% / 2));
}

.sign-page .user-types-container{
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0 0 10px 0px rgb(52 76 183 / 9%);
}

.sign-page .user-types-container .types-header .heading{
    position: relative;
}
.sign-page .user-types-container .types-header .heading:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 40px;
    height: 5px;
    background-color: #344cb7;
}
.sign-page .user-types-container .types-header .heading::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -18px;
    width: 60px;
    height: 5px;
    background-color: #001e6c;
}

.sign-page .user-types-container .types-header h2 {
    margin: 0;
    color: #001e6c;
    text-transform: uppercase;
}

/* Type Content */
.sign-page .user-types-container .types-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3rem;
}

/* User Type */
.sign-page .user-types-container .types-content .user-type {
    background-color: transparent;
    border-color: rgb(52 76 183 / 15%);
}
.sign-page .user-types-container .types-content .user-type:hover{
    background-color: var(--primary-color);
}

/* Icon */
.sign-page .user-types-container .types-content .user-type .icon{
    height: 70px;
    margin: 15px 10px 10px;
}
.sign-page .user-types-container .types-content .user-type .icon img{
    height: inherit;
    border: 4px solid transparent;
}
.sign-page .user-types-container .types-content .user-type:hover .icon img{
    border: 4px solid #fff;
}

/* Name */
.sign-page .user-types-container .types-content .user-type .name{
    padding-top: 5px;
    padding-bottom: 15px;
}
.sign-page .user-types-container .types-content .user-type .name h4 {
    margin: 0;
    color: var(--primary-color);
}
.sign-page .user-types-container .types-content .user-type:hover .name h4{
    color: #fff;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .main-panel .content-wrapper {
        padding: 0;
    }
    .sign-page {
        transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
    }
    .sign-page .user-types-container {
        padding: 2rem;
    }
    .sign-page .user-types-container .types-header h2 {
        font-size: 1.335rem;
    }
    .sign-page .user-types-container .types-content .user-type {
        margin-bottom: 1.6rem;
    }
    .sign-page .user-types-container .types-content .user-type:nth-of-type(2) {
        margin-bottom: 0rem;
    }

    .sign-page .user-types-container .types-content .user-type .icon {
        height: 60px;
        margin: 10px 7px 7px;
    }

}







/* ********************** ******* ********************* */
/* ********************** ******* ********************* */
/* ********************* Grouping ******************** */
/* ********************** ******* ********************* */
/* ********************** ******* ********************* */
.sign-page .user-types-container .types-content .user-type,
.sign-page .user-types-container .types-content .user-type .name h4,
.sign-page .user-types-container .types-content .user-type .icon img{
    transition: all .27s ease-in-out !important;
    -webkit-transition: all .27s ease-in-out !important;
    -moz-transition: all .27s ease-in-out !important;
    -ms-transition: all .27s ease-in-out !important;
    -o-transition: all .27s ease-in-out !important;
}

